.Burger{
  width:50%;
  margin: auto;
  height: 40rem;
  overflow: scroll;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;

  @include respond(tab-port){
    width:70rem;
    height: 60rem;
  }
  @include respond(phone){
    width:35rem;
    height: 30rem;
  }
}
